@use '/src/index.scss';

.mobile-thema {
  width: 100%;
  display: none;

  .thema {
    font-size: 20px;
    color: index.$default-color;
    cursor: default;
    transition: opacity 1.25s;
    opacity: 0;
  }

  .thema__active {
    opacity: 1;
  }

  .gorizontal-line {
    border-bottom: 1px solid #C7CDD9;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .mobile-thema {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
